@model ExcelQuiz.Models.CandidateLoginModel
@{
    Layout = "../Shared/_AdminLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        

        

       
    });
</script>
<form id="candidateForm" action="#" method="post">
    <div class="row">
        <div class="col-11">
            <div class="row">
                <div class="col-2"><strong>Requester Email</strong></div>
                <div class="col-3"><input type="text" value="" style="width:300px" id="RequestId"/></div>
            </div>
            <div class="row">
                <div class="col-2"><strong>Number of user you want to create</strong></div>
                <div class="col-3"><input type="text" value="" style="width:80px" /></div>
            </div>
            <div class="row">
                <div class="col-2 col-s-2"><strong>For Quiz</strong></div>
                <div class="col-8">
                    <select name="optQuiz" id="optQuiz" class="multi" multiple size="5">
                        <option value="quiz1">Quiz 1</option>
                        <option value="quiz2">Quiz 2</option>
                        <option value="quiz3">Quiz 3</option>
                        <option value="quiz4">Quiz 4</option>
                        <option value="quiz5">Quiz 5</option>
                    </select>
                </div>
                <div class="col-2 col-s-2"></div>
            </div>
            <div class="row">
                <div class="col-2 col-s-2"><strong>Valid From:</strong></div>
                <div class="col-2 col-s-2">
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" class="form-control" id="ValidFrom">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
                <div class="col-1" style="width:20px"><strong>To:</strong></div>
                <div class="col-2">
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" class="form-control" id="ValidTo">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-1">
                    <input type="button" class="button" value="Save" />
                </div>
                <div class="col-1">
                    <input type="reset" class="button" value="Reset" />
                </div>
            </div>
        </div>
    </div>
</form>