@model ExcelQuiz.Models.LoginModel
@{
    Layout = "../Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        var urlSubmitLogin = '@Url.Action("Login")';

        $("#btnLogin").click(function () {
            var data = {};
            data.userId = $("#userId").val();
            data.password = $("#password").val();
            $.ajax({
                url: urlSubmitLogin,
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data),
                success: function (data) {
                    if (data == true) {
                        window.location = "Index";
                    }
                    else {
                        var x = document.getElementById("loginFailureTag");
                        x.style.display = "block";
                        ClearLoginFields();
                    }
                },
                error: function () {
                    var x = document.getElementById("loginFailureTag");
                    x.style.display = "block";
                    ClearLoginFields();

                }
            });
        });
        $("#btnReset").click(function () {
            ClearLoginFields();
            var x = document.getElementById("loginFailureTag");
            x.style.display = "none";
        });

        function ClearLoginFields() {
            $("#userId").val("");
            $("#password").val("");
        };
    });
</script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title"><strong>Sign In</strong></div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px">@*<a href="#">Forgot password?</a>*@</div>
            </div>

            <div style="padding-top:30px" class="panel-body">
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="userId" type="text" class="form-control" name="username" value="" placeholder="username" />
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" name="password" placeholder="password" />
                    </div>
                   <div id="loginFailureTag" class="col-sm-12 controls" style="display:none">
                        <label style="color:red">Invalid Credentials</label>
                    </div>
                    <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12 controls">
                            <a id="btnLogin" href="#" class="btn btn-success">Login</a>
                            <a id="btnReset" href="#" class="btn btn-primary">Reset</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

