@{
    Layout = "../Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-12 col-s-12"></div>
</div>
<div class="row">
    <div class="col-1 col-s-1"></div>
    <div class="col-10 col-s-10">
        <div class="row">
            <div class="col-3 col-s-3 right"><strong>Quiz Name:</strong></div>
            <div class="col-9 col-s-9 left"><input type="text" value="" /></div>
        </div>
        <div class="row">
            <div class="col-3 col-s-3"><strong>Total Marks:</strong></div>
            <div class="col-9 col-s-9 left"><input type="text" value="" /></div>
        </div>
        <div class="row">
            <div class="col-3 col-s-3"><strong>Passing Percentage:</strong></div>
            <div class="col-9 col-s-9 left"><input type="text" value="" /></div>
        </div>
        <div class="row">
            <div class="col-3 col-s-3"><strong>Duration (mins):</strong></div>
            <div class="col-9 col-s-9 left"><input type="text" value="" /></div>
        </div>
        <div class="row">
            <div class="col-3 col-s-3"><strong>Instructions:</strong></div>
            <div class="col-6 col-s-6 left"><textarea maxlength="500"></textarea></div>
            <div class="col-3 col-s-3 left"></div>
         </div>
         <div class="row">
                <div class="col-4 col-s-4"></div>
                <div class="col-2 col-s-2 center-block">
                    <input type="button" class="button" value="Save" />
                </div>
                <div class="col-2 col-s-2 center-block">
                    <input type="button" class="button" value="Reset" />
                </div>
                <div class="col-4 col-s-4"></div>
         </div>
      
    </div>
    <div class="col-1 col-s-1"></div>
</div>
