@{
    Layout = "../Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12 col-s-12"></div>
</div>
<div class="row">
    <div class="col-1 col-s-1"></div>
    <div class="col-10 col-s-10">
        <div class="row">
            <div class="col-1 col-s-1 right"><strong>Quiz:</strong></div>
            <div class="col-11 col-s-11 left">
                <select name="optQuiz" id="optQuestionType" class="multi">
                    <option value="quiz1">Quiz 1</option>
                    <option value="quiz2">Quiz 2</option>
                    <option value="quiz3">Quiz 3</option>
                </select>
            </div>
        </div>
        <div class="row"><div class="col-12 col-s-12"><strong>Instructions</strong></div></div>
        <div class="row">
            <div class="col-12 col-s-12">
                <p>
                    The examination answer<br />
                    You must only use paper handed out at the examination venue. ...<br />
                    Your paper must be written with a black or blue ballpoint pen. ...<br />
                    At digital examinations, you write your answer directly in the program. ...<br />
                    You may work on your exam paper until the time allotted for the examination expires.<br />
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-3 col-s-3 right"><strong>Name:</strong></div>
            <div class="col-9 col-s-9 left"><input type="text" value="" /></div>
        </div>
        <div class="row">
            <div class="col-3 col-s-3 right"><strong>Phone:</strong></div>
            <div class="col-9 col-s-9 left"><input type="text" value="" /></div>
        </div>
        <div class="row">
            <div class="col-3 col-s-3 right"><strong>Email:</strong></div>
            <div class="col-9 col-s-9 left"><input type="text" value="" /></div>
        </div>
        <div class="row">
            <div class="col-4 col-s-4"></div>
            <div class="col-2 col-s-2 center-block">
                <input type="button" class="button" value="Start" />
            </div>
            <div class="col-2 col-s-2 center-block">
                <input type="button" class="button" value="Reset" />
            </div>
            <div class="col-4 col-s-4"></div>
        </div>
    </div>
    <div class="col-1 col-s-1"></div>
</div>
