@{
    
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<h1>Excel Quiz</h1>
<p>Excel Test designed to help you assess your knowledge on basic Excel functions and formulas. Get a score of 80% to pass the practice test with 20 questions Excel Test designed to help you assess your knowledge on basic Excel functions and formulas. Get a score of 80% to pass the practice test with 20 questions. Excel Test designed to help you assess your knowledge on basic Excel functions and formulas. Get a score of 80% to pass the practice test with 20 questions Excel Test designed to help you assess your knowledge on basic Excel functions and formulas. Get a score of 80% to pass the practice test with 20 questions. Excel Test designed to help you assess your knowledge on basic Excel functions and formulas. Get a score of 80% to pass the practice test with 20 questions</p>